<!DOCTYPE html>
<html>
<head>
<title><%=title%></title>
</head>
<body>
<h2>About Us</h2>
<div id='details'>We are an upcoming Pharmaceutical company headquartered in New Delhi and focusing on specialized medicine production in a cost effective but safe manner.</div>
<div id='details2'>To get in touch, do reach us at the following address:</div>
<div id='address'><%=address%></div>
<div id='contact'>You can also contact us at the following numbers:</div>
<div id='contact-details'><%=contact%></div>
<div id='contact2'> Or, email us at :</div>
<div id='emailid'><%=email%></div>
</body>
</html>