extends layout

block content
  h1 About Us
  div(id="about-us")
    div(id="details") We are a Pharmaceutical company headquartered in New Delhi and focusing on specialized medicine production in an economical but effective and ethical manner.
    br
    div(id="details2") To get in touch, do reach us at the following address:
    div(id="address") #{address}
    div(id="contact") You can also contact us at the following numbers:
    div(id="contact-details") #{contact}
    div(id="contact2") Or, email us at :
    div(id="emailid")
      a(href="mailto://#{email}") #{email}
