extends layout

block content
  h3 Your health
  p Health is of paramount importance to each of us, but it is that much more difficult to remain healthy- especially in our current environment. Prone as we are to various pulls and pressures of modern life and with increased exposure to various pollutants/ environmental hazards, we are now more prone then ever to being less healthy.
  p Understanding how diseases develop and the preventive measures that can be adopted to avoid them are important steps in staying healthy
  