
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/slider.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/slider.js', type='text/javascript')
    script(src='/javascripts/bootstrap.min.js', type='text/javascript')
  body
    header
      div(id='nav-wrap')
        div(id='main-nav' class='navbar')
          div(class='navbar-inner')
            div(class='container')
              ul(class='nav')
                li(class='active')
                  a(href="/") Home
                li
                  a(href="/products") Our Products
                li
                  a(href="/news") News
                li
                  a(href="/health") Your Health
                li
                  a(href="/about") About
    //adds the contents of the body (from the page to be used with this template)
    section#wrapper!=body
      block content
      div(id='footer')
        div(class='container')
          p(class='muted credit') This application is powered by Node.js on Cloud9.
          p(class='muted credit') Created as an open source project by Sumit Bisht.