extends layout

block content
  h1(align='center') News and Relations
  p(align='right') News as on #{date}
  p This page contains the news and other information related with the pharaceutical company.
  h4 Future products
  p The list of future products associated with this company are as follows:
  ul
    li Cough Syrup
    li Bandage
    li Muscular pain remover
  
  p These products are still in the application phase and are expected to be released soon.